body
{
    background-image: linear-gradient(to bottom right, rgb(45, 44, 44), rgb(0, 0, 0));
}
body{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul{
    list-style-position: inside;
    text-align: center;
}
li{
   text-align: center; 
}