body
{
    background-image: linear-gradient(to bottom right, rgb(45, 44, 44), rgb(0, 0, 0));
}
body{
    align-items: center;
    row-gap: 50px;
    text-align: center;
    
p{
    color: white
}
.divfour {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
}
a:link {
    color: #FF0000;
  }  
  a:hover {
    color: #FF00FF;
  }
}